*.o
tmp
log
lib
lib/
*.log
vgcore.*
*.sqlite
*.sqlite3
*.db
tmp/
CMakeLists.txt.user
.auth
database.db
.burury.sqlite
burury.db
*.db

compile_commands.json
bin/
bin/*
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeFiles/
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache/
.cmake/
